<ul>
    <% trips.each do |trip| %>
        <li>
            <ul>
                <%= render partial: 'trips/trip', locals: {trip: trip} %>
                <%= button_to "Cancel Trip", user_trip_path(current_user, trip), method: :delete %>
                <%= button_to 'Edit Trip', edit_user_trip_path(current_user, trip), method: :get %>
            </ul>
        </li>
    <% end %>
</ul>