<table>
    <tr>
        <th> User </th>
        <th> Destination </th>
        <th> Gear Pickup </th>
        <th> Gear Dropoff </th>
        <th> Gear List </th>
    </tr>
    <% trips.each do |trip| %>
            <%= render partial: 'trips/trip_table_row', locals: {trip: trip} %>
    <% end %>
</table>
    