<ul>
    <% user_upcoming_trips.each do |trip| %>
        <li>
            <ul>
                <%= render partial: 'trips/trip', locals: {trip: trip} %>
            </ul>
        </li>
    <% end if user_upcoming_trips %>
</ul>