<ul>
    <% gear_lists.each do |g| %>
        <li>
            <h3><%= g.name %></h3>
            <ul>
                <% g.items.each do |i| %>
                    <li><%= i.name %> - <%= link_to 'See item', gear_list_item_path(g, i) %></li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul>
