<h1>Gear List Index</h1>

<h4><%= link_to "5 Most Popular Gear Lists!", most_popular_path %></h2>

<h2>All Gear Lists</h2>


<%= render partial: 'application/alert' %>


<%= render partial: 'gear_lists', locals: {gear_lists: @gear_lists} %>
