<ul>
    <li><strong>Name: </strong><%= item.name %></li>
    <li><strong>Description: </strong><%= item.description %></li>
    <li><strong>Condition: </strong><%= item.condition %></li>
    <li><strong>Gear List: </strong><%= gear_list_name(item) %></li>
</ul>