<%= render partial: 'application/alert' %>

<div class='welcome'>
    <p>
    Welcome to Gear Pool! This is an applicaiton that allows users to rent from and donate to a communal gear pool. 
    Please create a user profile in order to donate or rent gear. You can signin via google or create an entirely new profile for this app.
    Enjoy!
    </p>
</div>
